$clr: #373c3d;
%forall {
    border: 10px solid #373c3d;
    border-radius: 100px;
    padding: 50px;
    margin: 20px;
}

div {
    h4 {
        color: white;
    }
    ul {
        color: white;
    }
}

body {
    background-color: #72c3db;
}

.wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

.conserv {
    @extend %forall;
    position: absolute;
    background-color: $clr;
    width: 250px;
    left: 0px;
}

.wild {
    @extend %forall;
    position: absolute;
    background-color: $clr;
    width: 250px;
    left: 450px;
}

.national {
    @extend %forall;
    background-color: $clr;
    position: absolute;
    width: 250px;
    left: 900px;
}